---
title: Nature
imageNames = keys(images):
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{title}}</title>
    <style>
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    {{#each imageNames}}
      <a href="images/{{this}}">
        <img src="thumbnails/{{this}}">
      </a>
    {{/each}}
  </body>
</html>
